* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  body {
    font-family: sans-serif;
    list-style-type: none;
    background-color: rgb(219, 221, 223);
    margin-bottom: 3rem;

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      background-color: white;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      position: fixed;
      bottom: 0;
      width: 100%;

      P {
        color: rgb(18, 33, 100);
        // font-weight: bold;
      }
    }
  }
}
