* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  body {
    font-family: sans-serif;
    list-style-type: none;
    background-color: rgb(219, 221, 223);
    .header {
      &__details {
        display: flex;
        background-color: #fff;
        padding: 2rem 2rem;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        justify-content: space-between;
        align-items: center;
        &--logo {
          margin: 0px;
        }
        &--info {
          display: flex;
          color: rgb(28, 148, 196);
          text-decoration: none;
          font-size: 1.2rem;
          margin-right: 3rem;
          transition: 1s;
          p {
            align-items: center;
            margin: 0.2rem;
            margin-left: 1rem;
            font-size: 1rem;
          }
        }
        &--info:hover {
          transform: scale(1.1);
        }
      }
    }
    @media screen and (max-width: 768px) {
      .header {
        &__details {
          display: flex;
          padding: 1rem 2rem;
          border-bottom-left-radius: 40%;
          border-bottom-right-radius: 40%;
          justify-content: space-between;
          &--logo {
            margin: 0px;
            img {
              width: 100px;
              height: auto;
              object-fit: cover;
            }
          }
          &--info {
            display: flex;
            color: rgb(28, 148, 196);
            text-decoration: none;
            font-size: 0.875rem;
            margin-right: 1rem;
            transition: 1s;
            p {
              align-items: center;
              margin: 0.1rem;
              margin-left: 1rem;
              font-size: 0.875rem;
            }
          }
          &--info:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
